html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.header {
	height: 50px;
	background-color: #808080;
}

.header p {
	font-size: 35px;
}

.logo {
	float: left;
	padding: 5px;
}

.loginspot {
	float: right;
	padding: 5px;
}

/* navigationsbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar li a.active {
    background-color: #4CAF50;
    color: white;
}

.posts {
	background-color: #808080;
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	list-style-type: none;
}
.post {
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;

	
}

.VoteContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.post, img {
	width: 100%;
}
.post_title {
	font-size: 25px;
	margin-bottom: 5px;
}
.post_votes {
	float:left;
}

.comment_button {
	float:right;
}

.votes_upDown input {
	background: url(upvote.png);
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	margin-left:auto;
	float:left;
}

